#app-milligram.container
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
  style=style
  .row
    .column Hello
    .column World
  .row
    .column Hello
    .column World
    .column Milligram
  .row
    .column.column-50.column-offset-25 Hello
    .column World
