.layout-default
  style=style
  .hero.is-medium.has-text-centered
    .hero-head
      .container
        .nav
          .nav-left
            .nav-item Bulma
          .nav-center
            .nav-item
              a(href="/")
                span.icon
                  i.fa.fa-github
          .nav-right.nav-menu
            .nav-item
              a.button(href="/")
                span.icon
                  i.fa.fa-github
                span Github
              a.button.is-primary(href="/")
                span.icon
                  i.fa.fa-twitter
                span Twitter

    .hero-body
      .container Hello bulma
