@import "~normalize.css/normalize.css";

:local(.headerClass) {
  background: #eee;
  position: fixed;
  bottom: 20px;
  border: 1px solid #999;
  border-radius: 4px 4px 4px;
  box-shadow: 4px 4px 4px #999;
  padding: 4px;
  margin: 4px;
}

:local(.headerClass) a {
  padding: 4px;
  margin: 4px;
}
